{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Getting crazy with HTTP2 and Webpack
{%- endblock %}

{% block content %}
    <h3>HTTP2 Push Header</h3>

    <pre id="{{ register_component('code') }}" class="apache">
        {{- 'link: </js/main.js>; rel="preload"; as="script"'|e -}}
    </pre>

    <h3>Twig</h3>

    <pre id="{{ register_component('code') }}" class="twig">
        {{- '<script src="{{ preload(\'js/main.js\') }}"></script>'|e -}}
    </pre>
{% endblock %}

{% block notes %}
    HTTP2 give you the possibility to tell the browser which JS he should load also.
{% endblock %}
