{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Going crazy with http2
{%- endblock %}

{% block content %}
    <h3>Splitting JS</h3>

    <pre id="{{ register_component('code') }}" class="bash">
        {{- 'npm install -i webpack --save-dev'|e -}}<br>
        {{- 'npm install -i bundle-loader --save'|e -}}
    </pre>

    <pre id="{{ register_component('code') }}" class="js">
        {{- 'const path = require(\'path\');

module.exports = {
    entry: {
        main: \'./js/main.js\'
    },
    output: {
        filename: \'js/[name].js\',
        chunkFilename: \'js/[name].js\',
        path: path.resolve(__dirname, \'web\')
    }
};
'|e -}}
    </pre>
{% endblock %}

{% block notes %}
    With the webpack bundle loader we can split the JS code.
{% endblock %}
